.chatSection section {
  min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.main{
  padding: 20px;
  max-height: 80vh;
  margin: 10vh 0;
  overflow-y: scroll;
} 

.main p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  /* color: white; */
  text-align: center;
}


form {
  height: 5vh;
  display: flex;
  width: 50%;
  justify-content: center;
  position: fixed;
  margin-bottom: 30px;
  bottom: 0;
}

form input {
    height: 80%;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    margin: 2px;
}



form button {
    height: 80%;
    width: 40px;
    background: none;
    cursor: pointer;
    overflow-x: hidden;
}
